 <h1>List of foods of the user: </h1>
 <p> Name: <%= @user.name %> ID: <%= @user.id %>  </p>

<%= link_to 'Add Food', new_food_path %>

<ul>
  <% @foods.each do |f| %>
    <li><%= f.name %></li>
  <% end %>
</ul>

<%= link_to 'return', root_path %>
