 <h1>List of foods of the user: </h1>
 <p> Name: <%= @user.name %> ID: <%= @user.id %>  </p>

<%= link_to 'Add Food', new_food_path %>
<table>
  <thead>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Measurement unit</th>
      <th>Unit price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.quantity %></td>
        <td><%= food.measurement_unit %></td>
        <td>$ <%= food.price %></td>
        <td> DELETE LINK </td>
           
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'return', root_path %>


