<%# path: app/views/recipe_foods/new.html.erb %>

<%= form_with(model: @recipe_food, url: recipe_recipe_foods_path(@recipe)) do |f| %>
  <%= f.hidden_field :recipe_id, value: @recipe.id %>

  <div>
    <%= f.label :food_id, 'Select Food' %>
    <%= f.collection_select :food_id, @available_foods, :id, 
  lambda { |food| "#{food.name} (Available: #{food.quantity})" } %>
  </div>

  <div>
    <%= f.label :quantity, 'Quantity' %>
    <%= f.number_field :quantity, min: 0 %>
  </div>

  <div>
    <%= f.submit 'Add Ingredient', class: 'btn btn-primary' %>
  </div>
<% end %>
